* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    color: #262626;

}

.leaflet-control-attribution {
    display: none;
}

/* .dropdown-menu .dropdown-item:hover {
    background-color: #0080005c;
    color: white;
} */

.btn.next-button {
    background-color: #0077DA;
    border-color: #0077DA;
    color: white;
    /* Change text color to white for better contrast */
}

.btn.next-button:hover {
    background-color: #00008b;
    /* Slightly lighter dark blue for hover effect */
    border-color: #00008b;
}

.collapse-button {
border: 3px solid #0077DA;
}


#map {
    position: absolute;
    top: 16vh;
    left: 0;
    height: 64vh;
    width: 80vw;
    z-index: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #0077DA;
}


.form-control input:focus {
    outline: none;
    border: 2px solid #0077DA;
}

.form-control input:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid #ff3860;
}

.btn {
    width: 50;
    max-width: 95%;
    HEIGHT: 26px;
    justify-content: right;
    background-color: #0077DA;
    color: white;
    top: 50px;
    left: 110%;
    position: absolute;
    font-size: 10px;
}

.leaflet-touch .leaflet-bar a {
    width: 20px;
    font-size: 18px;
    height: 20px;
    line-height: 20px;

}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 20px;
    height: 20px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: 2px solid #0077DA;
}


/* .leaflet-retina .leaflet-control-layers-toggle {
    background-image: url('../image/Layers_Icon.png');
    background-size: 23px 23px;
} */

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url('../image/Layers_Icon.png');
    background-size: 30px 30px; 
    width: 27px;
    height: 28px; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.leaflet-control-scale-line {
    border: 2px solid #777;
    border-top: none;
    line-height: 1.1;
    padding: 2px 1px;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px #fff;
    font-size: 7px;
}

li {
    list-style: none;
}


/* .card {
    height: 18vh;
    top: -11px;
    font-size: 10px;
    border: 2px solid #0077DA;
} */

.card {
    position: absolute;
    top: 3vh;
    left: 54%;
    transform: translateX(-50%);
    width: 130%;
    max-width: 400px;
    z-index: 1;
    display: none;
    background: rgba(255, 255, 255, 0.50);
    /* border: 2px solid #0077DA; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 12px;
}
/* Toggle Switch Container */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

/* Hide default input */
.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Toggle Label */
.toggle-label {
    display: block;
    position: absolute;
    width: 220%;
    height: 100%;
    background-color: #0077DA;
    color: white;
    top: 10px;
    left: 83vw;
    z-index: 1;
    border-radius: 20px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Toggle Handle */
.toggle-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 70px;
    height: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
}

/* Toggle Text Left (State) */
.toggle-text-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    color: #0077DA;
    transform: translateY(-50%);
}

/* Toggle Text Right (Maharashtra) */
.toggle-text-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.Geo img {
    position: absolute;
    z-index: 9999;
    top: 0;
    color: black;
    /* width: 4dvw; */
    height: 7dvh;
}

.message-container {
    position: absolute;
    bottom: 0;
    left: 40%;
    bottom: 40px;
    transform: translateX(-50%);
    padding: 10px;
    width: 80%;
    max-width: 800px;
}

.message-container p {
    font-size: 10px;
    margin-bottom: -5px;
}


/* Styles specifically for devices with a minimum width of 320px */
@media (min-width: 320px) and (max-width: 479px) {
    #map {
        position: absolute;
        top: 15vh;
        left: 0;
        height: 68vh;
        width: 107.4vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0px;
        left: 1%;
        color: black;
        /* width: 4dvw; */
        height: 7dvh;
    }

    .toggle-text-left {
        position: absolute;
        z-index: 1;
        top: 50%;
        font-size: 12px;
        left: 10px;
        color: #0077DA;
        transform: translateY(-50%);
    }

    .toggle-handle {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 37px;
        height: 27px;

        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s, background-color 0.3s;
        font-weight: bold;
    }

    .toggle-text-right {
        position: absolute;
        top: 52%;
        left: 42%;
        font-size: 11px;
        right: -11px;
        transform: translateY(-50%);
    }

    .toggle-label {
        display: block;
        position: absolute;
        width: 160%;
        height: 90%;
        background-color: #0077DA;
        color: white;
        top: 6px;
        left: 70vw;
        z-index: 1;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }


    .leaflet-touch .leaflet-control-layers,
    .leaflet-touch .leaflet-bar {
        /* border: 2px solid rgba(0, 0, 0, 0.2); */
        background-clip: padding-box;
        border: 2px solid #0077DA !important;
    }

    .message-container {
        position: absolute;
        bottom: 0;
        left: 40%;
        bottom: 40px;
        transform: translateX(-50%);
        padding: 10px;
        width: 80%;
        max-width: 800px;
    }
    
    .message-container p {
        font-size: 10px;
        margin-bottom: -33px;
    }
}

.card-body {
    padding: 10px;
}

.form-control {
    display: inline-flex;
    width: 71%;
    padding: -31.625rem .75rem;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 4px 1px;
}

.form-group {
    display: flex;
    align-items: center;
    /* margin-bottom: 15px; */
}

.form-group label {
    width: 100px;
    font-weight: bold;
    margin-right: 10px;
}

.form-group select,
.form-group input {
    flex: 1;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #0077DA;
}

.next-button {
    background-color: #0077DA;
}


/* code for new index design */


.location-wrapper {
    display: flex;
    align-items: center;
    gap: 30px; 
    width: 430px;
}

.location-input-container {
    width: 80%;
}

.location-button {
    width: 107%;
    border: 2px solid #0077DA;
    border-radius: 28px;
    background-color: white;
    color: black;
    padding: 7px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 28px;
    margin-left: -5px;
    transition: background-color 0.3s, color 0.3s;
}
.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    margin-left: 32%;
}
.location-button:hover {
    
    color: black; 
}

.location-icon {
    width: 36px;
    height: 36px;
    background-color: #0077DA;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin-top: 16px;
}


.card {
    display: none; 
}
.location-button span {
    margin-right: 25px; 
}
.card {
    position: relative;
}

.cancel-icon {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #0077DA;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
    font-size: 8px;
}



/* media query */

@media only screen and (min-width: 768px) and (max-width: 768px) {
    #map {
        position: absolute;
        top: 7.5vh;
        left: 0;
        height: 84vh;
        width: 96vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
   
.location-wrapper {
    display: flex;
    align-items: center;
    gap: 18px; 
    width: 52%;
}

.location-input-container {
    width: 80%;
}

.location-button {
    width: 93%;
    border: 2px solid #0077DA;
    border-radius: 28px;
    background-color: white;
    color: black;
    padding: 7px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: -27px;
    margin-left: 45px;
    transition: background-color 0.3s, color 0.3s;
}
.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    margin-left: 27%;
}
.location-button:hover {
    
    color: black; 
}

.location-icon {
    width: 36px;
    height: 36px;
    background-color: #0077DA;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin-top: -32px;
    margin-left: 29px;
}

    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        height: 7dvh;
        left: 10px;
    }
    .card {
        position: absolute;
        top: 7.4vh;
        left: 26%;
        transform: translateX(-50%);
        width: 34%;
        max-width: 400px;
        z-index: 1;
        display: none;
        background: rgba(255, 255, 255, 0.50);
        /* border: 2px solid #0077DA; */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        font-size: 12px;
    }
    .message-container {
        position: absolute;
        bottom: 0;
        left: 40%;
        bottom: 22px;
        transform: translateX(-50%);
        padding: 10px;
        width: 80%;
        max-width: 800px;
    }
    .message-container p {
        font-size: 10px;
        margin-bottom: -25px;
        margin-left: 13pxpx;
    }
    .btn {
        width: 50px; 
        max-width: 95%;
        height: 26px; 
        justify-content: right;
        background-color: #0077DA;
        color: white;
        top: 0px;
        left: 112%;
        position: absolute;
        font-size: 10px;
    }
    .toggle-label {
        display: block;
        position: absolute;
        width: 220%;
        height: 100%;
        background-color: #0077DA;
        color: white;
        top: 10px;
        left: 69vw;
        z-index: 1;
        border-radius: 20px;
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    #map {
        position: absolute;
        top: 7.5vh;
        left: 0;
        height: 84vh;
        width: 96.5vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
    .location-wrapper {
        display: flex;
        align-items: center;
        gap: 10px; 
        width: 97%;
    }
    
    .location-input-container {
        width: 69%;
    }
    
    .location-button {
        width: 52%;
        border: 2px solid #0077DA;
        border-radius: 28px;
        background-color: white;
        color: black;
        padding: 7px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: -22px;
        margin-left: 45px;
        transition: background-color 0.3s, color 0.3s;
    }
    .svg-inline--fa {
        display: var(--fa-display, inline-block);
        height: 1em;
        overflow: visible;
        vertical-align: -.125em;
        margin-left: 27%;
    }
    .location-button:hover {
         
        color: black; 
    }
    
    .location-icon {
        width: 36px;
        height: 36px;
        background-color: #0077DA;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        margin-top: -22px;
        margin-left: -256px;
    }
    
    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        height: 7dvh;
        left: 10px;
    }
    .card {
        position: absolute;
        top: 6vh;
        left: 24%;
        transform: translateX(-50%);
        width: 32%;
        max-width: 400px;
        z-index: 1;
        display: none;
        background: rgba(255, 255, 255, 0.50);
    
    }
    .message-container {
        position: absolute;
        bottom: 0;
        left: 41%;
        bottom: 34px;
        transform: translateX(-50%);
        padding: 10px;
        width: 80%;
        max-width: 800px;
    }
    .message-container p {
        margin-bottom: -25px;
        margin-left: -2px;
    }
    .btn {
        width: 50px;
        max-width: 95%;
        height: 26px;
        justify-content: right;
        background-color: #0077DA;
        color: white;
        top: 0px;
        left: 115%;
        position: absolute;
        font-size: 10px;
    }
    .toggle-label {
        left: 75vw;
    }
}

@media only screen and (min-width: 1400px) {
    #map {
        position: absolute;
        top: 7.5vh;
        left: 0;
        height: 85vh;
        width: 98.5vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
    .location-wrapper {
        display: flex;
        align-items: center;
        gap: 18px; 
    }
    
    .location-input-container {
        width: 80%;
    }
    
    .location-button {
        width: 43%;
        border: 2px solid #0077DA;
        border-radius: 28px;
        background-color: white;
        color: black;
        padding: 7px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: -27px;
        margin-left: 45px;
        transition: background-color 0.3s, color 0.3s;
    }
    .svg-inline--fa {
        display: var(--fa-display, inline-block);
        height: 1em;
        overflow: visible;
        vertical-align: -.125em;
        margin-left: 27%;
    }
    .location-button:hover {
        
        color: black; 
    }
    
    .location-icon {
        width: 36px;
        height: 36px;
        background-color: #0077DA;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        margin-top: -22px;
        margin-left: -256px;
    }
    
    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        height: 7dvh;
        left: 10px;
    }
    .card {
        position: absolute;
        top: 5vh;
        left: 21%;
        transform: translateX(-50%);
        width: 27%;
        max-width: 400px;
        z-index: 1;
        display: none;
        background: rgba(255, 255, 255, 0.50);
    }
    .message-container p {
        margin-bottom: -25px;
        margin-left: -141px;
        font-size: 12px;
    }
    .btn {
        width: 50px;
        max-width: 95%;
        height: 26px;
        justify-content: right;
        background-color: #0077DA;
        color: white;
        top: 0px;
        left: 132%;
        position: absolute;
        font-size: 10px;
    }
    .toggle-label {
        left: 81vw;
    }
}

@media only screen and (min-width: 1440px) {
    #map {
        position: absolute;
        top: 7.5vh;
        left: 0;
        height: 85vh;
        width: 98.5vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
    .location-wrapper {
        display: flex;
        align-items: center;
        gap: 1px; 
        width: 104%;
    }
    
    .location-input-container {
        width: 46%;
    }
    
    .location-button {
        width: 48%;
        border: 2px solid #0077DA;
        border-radius: 28px;
        background-color: white;
        color: black;
        padding: 7px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: -20px;
        margin-left: -10px;
        transition: background-color 0.3s, color 0.3s;
    }
    .svg-inline--fa {
        display: var(--fa-display, inline-block);
        height: 1em;
        overflow: visible;
        vertical-align: -.125em;
        margin-left: 27%;
    }
    .location-button:hover {
       
        color: black; 
    }
    
    .location-icon {
        width: 36px;
        height: 36px;
        background-color: #0077DA;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        margin-top: -22px;
        margin-left: -300px;
    }
    
    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        height: 7dvh;
        left: 10px;
    }
    .card {
        position: absolute;
        top: 7.3vh;
        left: 17%;
        transform: translateX(-50%);
        width: 22%;
        max-width: 400px;
        z-index: 1;
        display: none;
        background: rgba(255, 255, 255, 0.50);
    }
    .message-container {
        position: absolute;
        bottom: 0;
        left: 37%;
        bottom: 34px;
        transform: translateX(-50%);
        padding: 10px;
        width: 80%;
        max-width: 800px;
    }
    .message-container p {
       margin-top: 60px;
        margin-left: -170px;
        font-size: 12px;
    }
    .btn {
        width: 50px;
        max-width: 95%;
        height: 26px;
        justify-content: right;
        background-color: #0077DA;
        color: white;
        top: 70px;
        left: 162%;
        position: absolute;
        font-size: 10px;
    }
    .toggle-label {
        left: 80vw;
    }
}

/* meadia query for the iphones 12/12 pro,13/13 pro,14/14 pro*/

@media only screen
  and (min-device-width: 390px)
  and (max-device-width: 390px)
  and (min-device-height: 844px)
  and (max-device-height: 844px)
  and (-webkit-device-pixel-ratio: 3) {

     #map {
        position: absolute;
        top: 15vh;
        left: 0;
        height: 73vh;
        width: 94.6vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
    .location-wrapper {
        display: flex;
        align-items: center;
        gap: 16px; 
        margin-top: 17px;
        width: 390px;
    }
    
    .location-input-container {
        width: 80%;
    }
    
    .location-button {
        width: 103%;
        border: 2px solid #0077DA;
        border-radius: 28px;
        background-color: white;
        color: black;
        padding: 7px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 25px;
        margin-left: -5px;
        transition: background-color 0.3s, color 0.3s;
    }
    .svg-inline--fa {
        display: var(--fa-display, inline-block);
        height: 1em;
        overflow: visible;
        vertical-align: -.125em;
        margin-left: 35%;
    }
    .location-button:hover {
        color: black; /* Text color on hover */
    }
    
    .location-icon {
        width: 36px;
        height: 36px;
        background-color: #0077DA;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        margin-top: 16px;
    }
    
    
    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        height: 7dvh;
        left: 10px;
    }
    .card {
        position: absolute;
        top: 16vh;
        left: 50%;
        transform: translateX(-50%);
        width: 94%;
        max-width: 400px;
        z-index: 1;
        display: none;
        background: rgba(255, 255, 255, 0.50);
        /* border: 2px solid #0077DA; */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        font-size: 12px;
    }
    .message-container p {
        font-size: 10px;
  margin-bottom: -23px;
        margin-left: 13px;
    }
    .btn {
        width: 50px;
        max-width: 95%;
        height: 26px;
        justify-content: right;
        background-color: #0077DA;
        color: white;
        top: 5px;
        left: 105%;
        position: absolute;
        font-size: 10px;
    }
    .toggle-label {
        display: block;
        position: absolute;
        width: 220%;
        height: 100%;
        background-color: #0077DA;
        color: white;
        top: 13px;
        left: 48vw;
        z-index: 1;
        border-radius: 20px;
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    } 
}

/* meadia query for the iphones 11/iphone xr /iphone xs */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 414px)
  and (min-device-height: 896px)
  and (max-device-height: 896px)
  and (-webkit-device-pixel-ratio: 2) {
    #map {
        position: absolute;
        top: 12vh;
        left: 0;
        height: 73vh;
        width: 113.6vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
    .location-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 1px;
        margin-top: 30px;
    }
    .location-icon {
        background-color: #0077DA;
        margin-left: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
    }
    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        height: 7dvh;
        left: 10px;
    }
    .card {
        position: absolute;
        top: 11.5vh;

        left: 32%;
        transform: translateX(-50%);
        width: 60%;
        max-width: 400px;
        z-index: 1;
        display: none;
        background: rgba(255, 255, 255, 0.50);
        /* border: 2px solid #0077DA; */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        font-size: 12px;
    }
    .message-container p {
        font-size: 10px;
        margin-bottom: 26px;
        margin-left: 13px;
    }
    .btn {
        width: 50px;
        max-width: 95%;
        height: 26px;
        justify-content: right;
        background-color: #0077DA;
        color: white;
        top: 5px;
        left: 105%;
        position: absolute;
        font-size: 10px;
    }
    .toggle-label {
        display: block;
        position: absolute;
        width: 220%;
        height: 100%;
        background-color: #0077DA;
        color: white;
        top: 13px;
        left: 71vw;
        z-index: 1;
        border-radius: 20px;
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    } 

  }

  /* meadia query for the iphones 13/13 pro*/
  @media only screen
  and (min-device-width: 430px)
  and (max-device-width: 430px)
  and (min-device-height: 932px)
  and (max-device-height: 932px)
  and (-webkit-device-pixel-ratio: 3) {
    #map {
        position: absolute;
        top: 15vh;
        left: 0;
        height: 68vh;
        width: 95.6vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
    .location-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 1px;
        margin-top: 30px;
        width: 400px;
    }
    .location-icon {
        background-color: #0077DA;
        margin-left: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
    }
    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        height: 7dvh;
        left: 10px;
    }
    .card {
        position: absolute;
        top: 16vh;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 400px;
        z-index: 1;
        display: none;
        background: rgba(255, 255, 255, 0.50);
        /* border: 2px solid #0077DA; */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        font-size: 12px;
    }
    .message-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        bottom: 123px;
      
        padding: 10px;
        width: 100%;
        max-width: 800px;
    }
   
     .message-container p {
        font-size: 10px;
        margin-top: 90px; 
        margin-bottom: -40px;
        margin-left: 13px; 
    } 
    .btn {
        width: 50px;
        max-width: 95%;
        height: 26px;
        justify-content: right;
        background-color: #0077DA;
        color: white;
        top: 136px;
        left: 84%;
        position: absolute;
        font-size: 10px;
    }
    .toggle-label {
        display: block;
        position: absolute;
        width: 220%;
        height: 100%;
        background-color: #0077DA;
        color: white;
        top: 13px;
        left: 52vw;
        z-index: 1;
        border-radius: 20px;
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    } 
  }

/* meadia query for the iphones */

  @media only screen
  and (min-device-width: 360px)
  and (max-device-width: 360px)
  and (min-device-height: 780px)
  and (max-device-height: 780px)
  and (-webkit-device-pixel-ratio: 3) {

    #map {
        position: absolute;
        top: 14vh;
        left: 0;
        height: 84vh;
        width: 119.6vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
    .location-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 1px;
        margin-top: 30px;
    }
    .location-icon {
        background-color: #0077DA;
        margin-left: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
    }
    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        height: 7dvh;
        left: 10px;
    }
    .card {
        position: absolute;
        top: 13.2vh;
        left: 35%;
        transform: translateX(-50%);
        width: 65%;
        max-width: 400px;
        z-index: 1;
        display: none;
        background: rgba(255, 255, 255, 0.50);
        /* border: 2px solid #0077DA; */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        font-size: 12px;
    }
    .message-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        bottom: -70px;
        padding: 10px;
        width: 100%;
        max-width: 800px;
    }
   
     /* .message-container p {
        font-size: 10px;
        margin-top: 139px;
        margin-bottom: 26px;
        margin-left: 13px; 
    }  */
    .btn {
        width: 50px;
        max-width: 95%;
        height: 26px;
        justify-content: right;
        background-color: #0077DA;
        color: white;
        top: 10px;
        left: 103%;
        position: absolute;
        font-size: 10px;
    }
    .toggle-label {
        display: block;
        position: absolute;
        width: 220%;
        height: 100%;
        background-color: #0077DA;
        color: white;
        top: 13px;
        left: 71vw;
        z-index: 1;
        border-radius: 20px;
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    } 
  }

  /* meadia query for the iphone 15 / 15 pro */

  @media only screen
    and (min-device-width: 393px)
    and (max-device-width: 393px)
    and (min-device-height: 852px)
    and (max-device-height: 852px)
    and (-webkit-device-pixel-ratio: 3) {
        #map {
            position: absolute;
            top: 14vh;
            left: 0;
            height: 69vh;
            width: 115.6vw;
            z-index: 0;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            border: 2px solid #0077DA;
        }
        .location-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 15px;
            margin-left: 1px;
            margin-top: 30px;
        }
        .location-icon {
            background-color: #0077DA;
            margin-left: 30px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 50%;
        }
        .Geo img {
            position: absolute;
            z-index: 9999;
            top: 0;
            color: black;
            height: 7dvh;
            left: 10px;
        }
        .card {
            position: absolute;
            top: 12vh;
            left: 35%;
            transform: translateX(-50%);
            width: 65%;
            max-width: 400px;
            z-index: 1;
            display: none;
            background: rgba(255, 255, 255, 0.50);
            /* border: 2px solid #0077DA; */
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            font-size: 12px;
        }
        .message-container {
            position: absolute;
            bottom: 0;
            left: 50%;
            bottom: 42px;
            padding: 10px;
            width: 100%;
            max-width: 800px;
        }
       
         /* .message-container p {
            font-size: 10px;
            margin-top: 139px;
            margin-bottom: 26px;
            margin-left: 13px; 
        }  */
        .btn {
            width: 50px;
            max-width: 95%;
            height: 26px;
            justify-content: right;
            background-color: #0077DA;
            color: white;
            top: 10px;
            left: 103%;
            position: absolute;
            font-size: 10px;
        }
        .toggle-label {
            display: block;
            position: absolute;
            width: 220%;
            height: 100%;
            background-color: #0077DA;
            color: white;
            top: 13px;
            left: 71vw;
            z-index: 1;
            border-radius: 20px;
            font-size: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }


/* meadia query for the iphones 11 */

    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 414px)
    and (min-device-height: 896px)
    and (max-device-height: 896px)
    and (-webkit-device-pixel-ratio: 2) {
        #map {
            position: absolute;
            top: 14vh;
            left: 0;
            height: 67vh;
            width: 94.6vw;
            z-index: 0;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            border: 2px solid #0077DA;
        }
        .location-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 15px;
            margin-left: 1px;
            margin-top: 30px;
            width: 400px;
        }
        .location-icon {
            background-color: #0077DA;
            margin-left: 30px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 50%;
        }
        .Geo img {
            position: absolute;
            z-index: 9999;
            top: 0;
            color: black;
            height: 7dvh;
            left: 10px;
        }
        .card {
            position: absolute;
            top: 15.1vh;
            left: 50%;
            transform: translateX(-50%);
            width: 95%;
            max-width: 400px;
            z-index: 1;
            display: none;
            background: rgba(255, 255, 255, 0.50);
            /* border: 2px solid #0077DA; */
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            font-size: 12px;
        }
        .message-container {
            position: absolute;
            bottom: 0;
            left: 50%;
            bottom: 77px;
            padding: 10px;
            width: 100%;
            max-width: 800px;
        }
        .btn {
            width: 50px;
            max-width: 95%;
            height: 26px;
            justify-content: right;
            background-color: #0077DA;
            color: white;
            top: 50px;
            left: 83%;
            position: absolute;
            font-size: 10px;
        }
        .toggle-label {
            display: block;
            position: absolute;
            width: 220%;
            height: 100%;
            background-color: #0077DA;
            color: white;
            top: 13px;
            left: 52vw;
            z-index: 1;
            border-radius: 20px;
            font-size: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }

/* meadia query for iphone 11 pro */

    @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 375px) 
  and (min-device-height: 812px) 
  and (max-device-height: 812px) 
  and (-webkit-device-pixel-ratio: 3) {
    #map {
        position: absolute;
        top: 17vh;
        left: 0;
        height: 68vh;
        width: 94.6vw;
        z-index: 0;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        border: 2px solid #0077DA;
    }
    .location-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 1px;
        width: 365px;
    }
    .location-icon {
        background-color: #0077DA;
        margin-left: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
    }
    .Geo img {
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        height: 7dvh;
        left: 10px;
    }
    .card {
        position: absolute;
        top: 18.2vh;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        max-width: 400px;
        z-index: 1;
        display: none;
        background: rgba(255, 255, 255, 0.50);
        /* border: 2px solid #0077DA; */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        font-size: 12px;
    }
    .message-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        bottom: 35px;
        padding: 10px;
        width: 100%;
        max-width: 800px;
    }
    .btn {
        width: 50px;
        max-width: 95%;
        height: 26px;
        justify-content: right;
        background-color: #0077DA;
        color: white;
        top: 30px;
        left: 80%;
        position: absolute;
        font-size: 10px;
    }
    .toggle-label {
        display: block;
        position: absolute;
        height: 100%;
        height: 100%;
        background-color: #0077DA;
        color: white;
        top: 13px;
        left: 50vw;
        z-index: 1;
        border-radius: 20px;
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 340px)
    and (min-device-height: 680px)
    and (max-device-height: 690px)
    and (-webkit-device-pixel-ratio: 3) {

        #map {
            position: absolute;
            top: 14vh;
            left: 0;
            height: 71vh;
            width: 115.6vw;
            z-index: 0;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            border: 2px solid #0077DA;
        }
        .location-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 15px;
            margin-left: 1px;
            margin-top: 30px;
        }
        .location-icon {
            background-color: #0077DA;
            margin-left: 30px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 50%;
        }
        .Geo img {
            position: absolute;
            z-index: 9999;
            top: 0;
            color: black;
            height: 7dvh;
            left: 10px;
        }
        .card {
            position: absolute;
            top: 12.2vh;
            left: 35%;
            transform: translateX(-50%);
            width: 65%;
            max-width: 400px;
            z-index: 1;
            display: none;
            background: rgba(255, 255, 255, 0.50);
            /* border: 2px solid #0077DA; */
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            font-size: 12px;
        }
        .message-container {
            position: absolute;
            bottom: 0;
            left: 50%;
            bottom: 19px;
            padding: 10px;
            width: 100%;
            max-width: 800px;
        }
        .btn {
            width: 50px;
            max-width: 95%;
            height: 26px;
            justify-content: right;
            background-color: #0077DA;
            color: white;
            top: 10px;
            left: 103%;
            position: absolute;
            font-size: 10px;
        }
        .toggle-label {
            display: block;
            position: absolute;
            width: 220%;
            height: 100%;
            background-color: #0077DA;
            color: white;
            top: 13px;
            left: 71vw;
            z-index: 1;
            border-radius: 20px;
            font-size: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }