body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile, .counts, .uploads {
    margin: 20px;
}

.profile h2, .counts h2, .uploads h2 {
    margin-bottom: 10px;
}

.uploads {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.capitalize::first-letter {
    text-transform: uppercase;
}


.uploads table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed;  */
}

.uploads table, .uploads th, .uploads td, #surveyTable tr {
    border: 1px solid black;
}

.uploads th, .uploads td, #surveyTable th, #surveyTable td {
    padding: 8px;
    text-align: left;
}

#surveyTable th, .uploads th {
    font-size: 12px;
    color: darkblue;
    /* background-color: darkblue; */
    background-color: #E9E9F7;
    font-weight: bold;
}

#surveyTable td, .uploads td {
    font-size: 12px;
}

tr {
    border: 1px solid #bbb;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    max-width: 800px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: green;
}

.pagination .page-item .page-link {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination .active .page-link {
    font-weight: bold;
}
a{
    color: darkblue;
}

.btnn{
    font-size: 12px;
    padding: 5px;
    background-color: #0080005c;
    font-weight: bold;
    border: #0080005c;
    border-radius: 5px;
}

/* body {
    padding: 0 15px;
} */

.table-container {
    height: 1000px;
    position: relative;
    overflow-y: auto;
}
.table{
    height: 700px;
    width: 600px;
}

.table-container thead {
    background-color: white;
    z-index: 2;
    position: sticky;
    top: 0;
}

.table-container th,
.table-container td {
    width: 10%;
    box-sizing: border-box;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pagination .page-item .page-link {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 40px;
    color: darkblue;
    border: 2px solid darkblue;
}

.pagination .active .page-link {
    font-weight: bold;
}



.table-container thead {
    background-color: white;
    position: sticky;
    top: 0;
}

.card {
    width: 96%;
    /* border: 4px solid darkblue; */
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card-body {
    padding: 20px;
}


.text {
    color: black;
    font-size: 30px;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.fa-user {
    font-size: 60px;
}

.btn {
    font-size: 30px;
}


.card-title1 {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-body1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.card-container1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card1 {
    flex: 1;
    margin: 10px;
    background-color: #E9E9F7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.text1 {
    font-size: 35px;
}

.bg-light {
    background-color: gray;
}

.tabledata {
    height: 900px;
    width: 100%;
}

#surveyTable th {
    font-size: 30px;
    /* background-color: darkblue; */
    background-color: #E9E9F7;
    color: darkblue;
}

#surveyTable td {
    font-size: 30px;
}

.company-logo {
    height: 80px;
    width: auto;
}

.profile-card {
    display: none; 
}
.profile-card {
    display: none;
    width: 96%;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.profile-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.fa-power-off {
    font-size: 40px;
}
.card-body h2{
    font-size: 30px;
}
.font{
    color: darkblue;
    text-decoration: underline;
}
.fa-gauge{
    color: darkblue;
}
.fa-users{
    color: darkblue;
}
.fa-upload{
    color: darkblue;
}
.fa-user-shield{
    color: darkblue;
}

.admin {
    display: inline-block;
    margin-top: 15px;
    margin-left: 35%;
    padding: 10px 20px;
     background-color: #E9E9F7;
    color: darkblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    transition: all 0.3s ease;
}

.admin:hover {
    background-color: #E9E9F7;
    color: darkblue;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.admin:active {
    transform: translateY(0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.download-icon {
    float: right;
    color: blue;
}
.header-row {
    display: flex;
    align-items: center;
}
.header-row .btn {
    margin-left: 10px;
}
.dashboard-icon,
.card-icon {
    width: 90px; 
    height: auto;
}
.pagination .page-item {
    display: inline-block;
    margin: 0 5px;
}


/* Media Query */

/* Mobile devices */
@media (max-width: 767px) {
    .company-logo-lg {
        height: 40px;
        width: 45px;
        margin-top: -20px;
    }
    .card-bodyl-lg {
        padding: 0px;
    }
    .off-lg {
        font-size: 18px;
    }
    .heading-lg {
        font-size: 14px;
        margin-top: 5px;
    }
    .text-lg {
        color: black;
        font-size: 12px;
    }
    .col-lg {
        margin-top: -20px;
    }
    .col-lg1 {
        margin-top: -50px;
    }
    .card-dashboard-lg {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
        font-size: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .card-icon {
        width: 30px; 
        height: auto;
    }
    .dashboard-lg {
        font-size: 10px;
    }
    .text1-lg {
        font-size: 12px;
    }
    .card1-lg {
        flex: 1;
        margin: 5px;
        background-color: #E9E9F7;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }
    .card-dashboard-lg h2 {
        font-size: 14px;
    }
    .card-container1-lg {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .recent-lg {
        font-size: 14px;
    }
    #surveyTable1 td {
        font-size: 12px;
    }
    .pagination .page-item .page-link {
        font-size: 14px;
    }
}

/* Tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .company-logo-lg {
        height: 51px;
        width: 55px;
        margin-top: -31px;
    }
    .card-bodyl-lg {
        padding: 0px;
    }
    .off-lg {
        font-size: 26px;
    }
    .heading-lg {
        font-size: 18px;
        margin-top: 10px;
    }
    .text-lg {
        color: black;
        font-size: 15px;
    }
    .col-lg {
        margin-top: -31px;
    }
    .col-lg1 {
        margin-top: -65px;
    }
    .card-dashboard-lg {
        width: 90%;
        border-radius: 15px;
        margin-bottom: 20px;
        font-size: 50px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
    .card-icon {
        width: 40px; 
        height: auto;
    }
    .dashboard-lg {
        font-size: 12px;
    }
    .text1-lg {
        font-size: 14px;
    }
    .card1-lg {
        flex: 1;
        margin: 10px;
        background-color: #E9E9F7;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
    }
    .card-dashboard-lg h2 {
        font-size: 18px;
    }
    .card-container1-lg {
        display: flex;
        justify-content: space-between;
        gap: 62px;
    }
    .recent-lg {
        font-size: 18px;
    }
    #surveyTable1 td {
        font-size: 17px;
    }
    .pagination .page-item .page-link {
        font-size: 21px;
    }
    a {
        color: darkblue;
        text-decoration: none;
    }
    .icon{
       
        border: none;
    }
    .fa-user {
        font-size: 25px;
        margin-left: 45%;
        color: gray;
      
    }
}

/* Small desktops */

@media (min-width: 1025px) and (max-width: 1200px) {
    .company-logo-lg {
        height: 51px;
        width: 55px;
        margin-top: -31px;
    }
    .card-bodyl-lg {
        padding: 0px;
    }
    .off-lg {
        font-size: 26px;
    }
    .heading-lg {
        font-size: 18px;
        /* margin-top: 10px; */
    }
    .text-lg {
        color: black;
        font-size: 15px;
        display: flex;
    }
    .col-lg {
        margin-top: -31px;
    }
    .col-lg1 {
        margin-top: -65px;
    }
    .card-dashboard-lg {
        width: 90%;
        border-radius: 15px;
        margin-bottom: 20px;
        font-size: 50px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
    .card-icon {
        width: 40px; 
        height: auto;
    }
    .dashboard-lg {
        font-size: 12px;
    }
    .text1-lg {
        font-size: 14px;
    }
    .card1-lg {
        flex: 1;
        margin: 10px;
        background-color: #E9E9F7;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }
    .card-dashboard-lg h2 {
        font-size: 18px;
    }
    .card-container1-lg {
        display: flex;
        justify-content: space-between;
        gap: 62px;
    }
    .recent-lg {
        font-size: 18px;
    }
    #surveyTable1 td {
        font-size: 17px;
    }
    .pagination .page-item .page-link {
        font-size: 21px;
    }
    a {
        color: darkblue;
        text-decoration: none;
    }
}

/* Large desktops */

@media (min-width: 1200px) and (max-width: 1440px) {
    .company-logo-lg {
        height: 51px;
        width: 55px;
        margin-top: -31px;
       
    }
    .card-bodyl-lg {
        padding: 0px;
    }
    .off-lg {
        font-size: 26px;
    }
    .heading-lg {
        font-size: 18px;
        margin-top: 10px;
    }
    .text-lg {
        color: black;
        font-size: 15px;
        display: flex;
    }
    .col-lg {
        margin-top: -31px;
    }
    .col-lg1 {
        margin-top: -65px;
    }
    .card-dashboard-lg {
        width: 110%;
        margin-left: -130px;
        border-radius: 15px;
        margin-bottom: 20px;
        font-size: 50px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
    .card-icon {
        width: 40px; 
        height: auto;
    }
    .dashboard-lg {
        font-size: 12px;
    }
    .text1-lg {
        font-size: 14px;
    }
    .card1-lg {
        flex: 1;
        margin: 10px;
        background-color: #E9E9F7;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }
    .card-dashboard-lg h2 {
        font-size: 18px;
    }
    .card-container1-lg {
        display: flex;
        justify-content: space-between;
        gap: 62px;
    }
    .recent-lg {
        font-size: 18px;
    }
    #surveyTable1 td {
        font-size: 17px;
    }
    .pagination .page-item .page-link {
        font-size: 21px;
    }
    a {
        color: darkblue;
        text-decoration: none;
    }
}

/* Extra large desktops */

@media (min-width: 1440px) {
   
    .card {
        height: 98%;
        width: 71%;
        border-radius: 15px;
        margin-top: -16px;
        font-size: 41px;
        margin-left: 30px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
    .company-logo-lg {
        height: 45px;
        width: 45px;
        margin-top: -35px;
        margin-left: -86px !important;
        position: fixed;
    }
    .card-bodyl-lg {
        padding: 0px;
    }
    .off-lg {
        font-size: 23px;
        position: fixed;
        margin-left: 88%;
        top: 10px;
    }
    .heading-lg {
        font-size: 18px;
        /* margin-top: 10px; */
    }
    .text-lg {
        color: black;
        font-size: 15px;
        display: flex;
        padding-left: 30px;
        /* margin-top: 26px; */
        /* margin-left: 20px; */
    }
    .col-lg {
        margin-top: -31px;
    }
    .col-lg1 {
        margin-top: -65px;
        width: 60%;
    }
    .card-dashboard-lg {
      
      
        border-radius: 15px;
        margin-bottom: 20px;
        font-size: 50px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
    .card-icon {
        width: 40px; 
        height: auto;
    }
    .dashboard-lg {
        font-size: 12px;
    }
    .text1-lg {
        font-size: 14px;
    }
    .card1-lg {
        flex: 1;
        margin: 10px;
        background-color: #E9E9F7;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }
    .card-dashboard-lg h2 {
        font-size: 18px;
    }
    .card-container1-lg {
        display: flex;
        justify-content: space-between;
        gap: 62px;
    }
    .recent-lg {
        font-size: 18px;
    }
    #surveyTable1 td {
        font-size: 12px;
    }
    .pagination .page-item .page-link {
        font-size: 21px;
    }
    .table-container {
        height: 500px;
        position: relative;
        overflow-y: auto;
    }
    /* .profile-card-lg {
        width: 106% !important;
    } */
    a {
        color: darkblue;
        text-decoration: none;
    }
    .card1-lg {
        flex: 1;
        margin: 10px;
        background-color: #E9E9F7;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
    }
   
    
    .card1 {
        flex: 1;
        margin: 10px;
        background-color: #E9E9F7;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
    }
    .icon{
       
        border: none;
    }
    .fa-user {
        font-size: 25px;
        margin-left: 45%;
        color: gray;
      
    }
    .heading-lg {
        font-size: 18px;
        /* margin-top: 10px; */

    }
    .capitalize::first-letter {
        text-transform: uppercase;
    }
    .card-dashboard-lg {
        width: 110%;
        margin-left: -120px;
        border-radius: 15px;
        margin-bottom: 20px;
        font-size: 50px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
    
}
