body {
padding: 0 15px;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.fa{
    font-size: 33px;
    margin-left: 40px !important;
    margin-top: 57px !important;
}
p {
    margin-top: 10px;
    margin-bottom: 1rem;
}
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.profile-img {
    width:20%;
    margin-left: -284px;
    margin-top: 10px;
}
.btn {
    font-size: 45px ;
  
}

.underlined {
    position: relative;
    display: inline-block;
}
.fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    margin-top: 23px;
    margin-left: 317px;
    text-rendering: auto;
}
.underlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust based on spacing needed */
    width: 100%;
    height: 2px; /* Adjust thickness */
    background-color: green; /* Adjust color */
}


.user {
    display: inline-block;
    margin-top: 20px;
    margin-left: 91%;
    padding: 10px 20px;
    font-size: 18px;
    color: darkblue;
    background-color:#E9E9F7 ;
    border: none;
    border-radius: 10px;
   
    text-align: center;
    cursor: pointer;
    font-size: 30px;
  
}









.profile-card .btn-outline-primary {
    border-radius: 10px;
    font-size: 26px;
    color: black;
    padding: 5px 15px;
    margin-left: 11px;
    margin-bottom: -83px;
  
}

.profile-card .card-header {
   
    position: relative;
}



.profile-card .action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}


.profile h2, .counts h2, .uploads h2 {
    margin-bottom: 31px;
    margin-left: -1%;
}
.uploads {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: -39px;
 
}

.uploads h2 {
    color: green;
    margin-top: 55px !important;
}

.uploads table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed;  */
}

.uploads table, .uploads th, .uploads td, #surveyTable tr {
    border: 1px solid #ddd;
}

.uploads th, .uploads td, #surveyTable th, #surveyTable td {
    padding: 8px;
    text-align: left;
}

#surveyTable th, .uploads th {
    font-size: 14px;
    /* background-color: #0080005c; */
  
}



tr {
    border: 1px solid #bbb;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}





.pagination .page-item {
    display: inline-block;
    margin: 0 5px;
}
.profile, .counts, .uploads {
    margin: 20px;
}


.uploads h2 {
    color: green;
}

.uploads table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed;  */
}





.btn-danger {
    background-color: #dc3545;
    border: none;
}
.fa-user {
    font-size: 60px;
}




.table-container thead {
    background-color: white;
    z-index: 2;
    position: sticky;
    top: 0;
    overflow-x:  auto;
}

.table-container th,
.table-container td {
    width: 10%;
    box-sizing: border-box;
}


.card {
    width: 200%;
    margin-top: 81px;
    height: 75%;
    position: sticky;
    /* border: 4px solid #0080005c; */
    border-radius: 15px;
    /* margin-bottom: -35px; */
    margin-top: 22px;
    margin-left: -48%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.card-body {
    padding: 20px;
}
.card h2 {
    color: black;

}
.text{
  
    font-size: 30px;
}






.card-title1 {
    font-size: 1.25rem;
    /* font-weight: 600; */
}
.card-body1 {
    font-size: 1.5rem;
    /* font-weight: 700; */
}
.card-container1 {
    display: flex;
    justify-content: space-between;
    gap: 20px; /
}
.card1 {
    flex: 1;
    margin: 10px; 
    border: 4px solid #0080005c;
    background-color: #d3d3d3;

}
.text1{
    font-size: 35px;
}
.bg-light {
background-color: gray;
}

#uploadTable th{
    font-size: 35px;
    background-color: #E9E9F7 !important;
    color: darkblue !important;
   
}
a {
color: darkblue;
text-decoration: none;
background-color: transparent;
}
#uploadTable td{
font-size: 30px;
overflow-x: auto;



}
.profile-card {
    display: none;
}


.text-success {
--bs-text-opacity: 1;
font-size: 32px;
margin-left: 6%;
color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}
.table-responsive {
    overflow-x: auto;
    
}


.pagination {
    display: flex;
    justify-content: center;
    margin-left: 5%;

}

.pagination .page-item .page-link {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 30px;
   
    border: 2px solid darkblue;
}
.profile-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
}
.pagination .active .page-link {
    font-weight: bold;
}


.table-bordered {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

/* Header cells */
.table-bordered th {
    border: 1px solid black;
    background-color: #0080005c;
    font-size: 35px;
}

/* Data cells */
.table-bordered td {
    border: 1px solid black;
    font-size: 27px;
}

.table-bordered th, .table-bordered td {
    padding: 21px;
}
.table-responsive-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling in iOS */
}

.table-responsive-x table {
    width: 100%;
    border-collapse: collapse;
}
#toggleProfileCardBtn .icon {
    display: none;
}
#toggleProfileCardBtn .text {
    display: inline;
}

@media (min-width: 992px) {
    .table-bordered th, .table-bordered td {
        padding: 5px !important;
    }
    
  
    .user {
        display: inline-block;
        margin-top: -44px;
        margin-left: 10%;
        position: fixed;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        text-align: center;
        font-size: 21px;
        background: none;
        background-color: transparent;
    }
    #uploadTable th {
        font-size: 15px;
        background-color: #E9E9F7 !important;
        color: darkblue !important;
    }
   
    .profile-img {
        width: 5%;
        position: fixed;
        margin-left: -284px;
        margin-top: 36px;
    }
    .btn {
        font-size: 20px;
        margin-top: 23px;
        margin-left: 29%;
        position: fixed;
    }
    .fa-user {
        font-size: 25px;
    }
    .card {
        width: 100%;
        height: 80%;
        position: sticky;
        border-radius: 15px;
      
        margin-top: 11px;
        margin-left: -4%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
        
    .fa {
        font-size: 20px;
        margin-left: 4px !important;
        margin-top: 5px !important;
    }
    .user {
        display: inline-block;
        margin-top: 9px;
        margin-left: 33%;
        position: fixed;
        /* padding: 10px 20px; */
        border: none;
        border-radius: 10px;
        text-align: center;
        font-size: 8px;
        background: none;
        background-color: transparent;
    }
    .text {
        font-size: 14px;
    }
   
    #toggleProfileCardBtn .icon {
        display: inline;
    }
    #toggleProfileCardBtn .text {
        display: none;
    }
    .table-responsive-x {
        overflow-x: visible;
    }
 
    .text-success {
        --bs-text-opacity: 1;
        font-size: 24px;
        margin-left: 6%;
        color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
    }
    .table-responsive-x table {
        /* width: 100%; */
        border-collapse: collapse;
    }
    .fas .fa-power-off{
        margin-top: 20px !important;
    }
  
    table {
        caption-side: bottom;
        border-collapse: collapse;
        margin-left: -1%;
    }
    .uploads h2 {
        text-align: center;
        white-space: nowrap;
        margin-left: -1%;
        /* overflow: hidden; */
        text-overflow: ellipsis;
    }
    #uploadTable td {
        font-size: 11px;
        overflow-x: auto;
    }
    .pagination {
        display: flex;
        /* justify-content: center; */
        /* margin-left: 75%; */
        /* margin-right: 33%; */
    }
    .pagination .page-item .page-link {
        margin: 0 5px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 12px;
        border: 2px solid darkblue;
    }
}
@media (min-width: 1200px) {
    #toggleProfileCardBtn .icon {
        display: inline;
    }
    #toggleProfileCardBtn .text {
        display: none;
    }
    table {
        caption-side: bottom;
        border-collapse: collapse;
        margin-left: -1%;
    }
    .btn {
        font-size: 20px;
        margin-top: -6px;
        z-index: 999;
        margin-left: 40%;
        position: fixed;
    }

    #uploadTable td {
        font-size: 13px;
        overflow-x: auto;
    }
    .table-responsive-x {
        overflow-x: visible;
    }
    #uploadTable th {
        font-size: 13px;
        background-color: #E9E9F7 !important;
        color: darkblue !important;
    }
    .table-bordered th, .table-bordered td {
        padding: 10px;
    }
    .uploads h2 {
        text-align: center;
        white-space: nowrap;
        margin-left: -3%;
        /* overflow: hidden; */
        text-overflow: ellipsis;
    }
    .user {
        display: inline-block;
        margin-top: -1%;
        margin-left: 43%;
        padding: 10px 20px;
        border: none;
        position: fixed;
        border-radius: 10px;
        text-align: center;
        font-size: 5px;
        background: none; /* Removes the background */
        background-color: transparent; /* Ensures no background color */
    }
    .fa-user {
        font-size: 25px;
    }
    .fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        margin-top: 23px;
        /* margin-left: 317px; */
        text-rendering: auto;
    }
    .profile-img {
        width: 3%;
        position: fixed;
        top: -4%;
        margin-left: -385px;
    }
    
    .card {
        width: 68%;
        height: 83%;
        margin-top: 81px;
        position: sticky;
        /* border: 4px solid #0080005c; */
        border-radius: 15px;
        /* margin-bottom: -35px; */
        margin-top: -14px;
        margin-left: 12%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  
    .text {
        font-size: 13px;
        margin-top: -5px;
    }
    .pagination .page-item .page-link {
       
        padding: 5px 10px;
        cursor: pointer;
        font-size: 13px;
        border: 2px solid darkblue;
    }
    .pagination {
        display: flex;
        margin-left: -1%;
        margin-top: -7px;

    }
    .fa {
        font-size: 15px !important;
        margin-left: 5px !important;
        margin-top: 30px !important;
       
      
    }
    .profile-row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
    }
   

}
