body {
    padding: 0 15px;
  overflow-x: hidden !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}


.profile, .counts, .uploads {
    margin: 20px;
}

.profile h2, .counts h2, .uploads h2 {
    margin-bottom: 10px;
}

.uploads {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: -39px;
 
}

.uploads h2 {
    color: green;
}

.uploads table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed;  */
}

.uploads table, .uploads th, .uploads td, #surveyTable tr {
    border: 1px solid #ddd;
}

.uploads th, .uploads td, #surveyTable th, #surveyTable td {
    padding: 8px;
    text-align: left;
}

#surveyTable th, .uploads th {
    font-size: 14px;
    background-color: #0080005c;
    font-weight: bold;
}

#surveyTable td, .uploads td {
    font-size: 12px;
}

tr {
    border: 1px solid #bbb;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    max-width: 800px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: green;
}



.pagination .page-item .page-link {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.profile, .counts, .uploads {
    margin: 20px;
}

.profile h2, .counts h2, .uploads h2 {
    margin-bottom: 10px;
}
.uploads {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.uploads h2 {
    color: green;
}

.uploads table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed;  */
}





.btn-danger {
    background-color: #dc3545;
    border: none;
}
.fa-user {
    font-size: 60px;
}

.btn {
    font-size: 30px;
}


.table-container thead {
    background-color: white;
    z-index: 2;
    position: sticky;
    top: 0;
    overflow-x:  auto;
}

.table-container th,
.table-container td {
    width: 10%;
    box-sizing: border-box;
}


.card {
width: 100%;
margin-top: 81px;
position: sticky;
border: 4px solid #0080005c;
border-radius: 15px;
margin-bottom: -35px;
margin-top: 5px;

box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.card-body {
    padding: 20px;
}
.card h2 {
    color: black;

}
.text{
    color: black;
    font-size: 30px;
}


.fa-user{
    font-size: 60px;
}
.btn{
    font-size: 30px;
}


.card-title1 {
    font-size: 1.25rem;
    font-weight: 600;
}
.card-body1 {
    font-size: 1.5rem;
    font-weight: 700;
}
.card-container1 {
    display: flex;
    justify-content: space-between;
    gap: 20px; /
}
.card1 {
    flex: 1;
    margin: 10px; 
    border: 4px solid #0080005c;
    background-color: #d3d3d3;

}
.text1{
    font-size: 35px;
}
.bg-light {
background-color: gray;
}

#uploadTable th{
font-size: 35px;
background-color: #0080005c;
}
a {
color: #28a745;
text-decoration: none;
background-color: transparent;
}
#uploadTable td{
font-size: 30px;
overflow-x: auto;



}
.profile-img {
    width: 13%;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -45px;
    margin-left: -49px;
}
.text-success {
--bs-text-opacity: 1;
font-size: 32px;
margin-left: 6%;
color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}
.table-responsive {
    overflow-x: auto;
    
}
.profile-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.pagination {
    display: flex;
    justify-content: center;
    /* margin-left: 35%; */

}

.pagination .page-item .page-link {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 30px;
    color: #0080005c;
    border: 2px solid #0080005c;
}

.pagination .active .page-link {
    font-weight: bold;
}


.table-bordered {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

/* Header cells */
.table-bordered th {
    border: 1px solid black;
    background-color: #0080005c;
    font-size: 35px;
}

/* Data cells */
.table-bordered td {
    border: 1px solid black;
    font-size: 27px;
}

.table-bordered th, .table-bordered td {
    padding: 37px;
}
.table-responsive {
    overflow-x: auto;
}
