body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
}

.form-control {
    border-radius: .25rem;
}

.btn-outline-success {
    margin-top: 20px;
}
